/* -- CSS General -- */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #695AC8;
    margin: 0px auto;
    padding: 0px;
}

@font-face {
    font-family: 'Mulish';
    src: url(./fonts/Mulish/Mulish-Regular.otf) format(opentype);
    font-weight: 200 1000;
}

/* ----------- Menú - nav ------------- */

header {
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
    margin: 0px;
    width: 100%;
    min-width: 990px;
    height: 160px;
}

header .logo {
    max-width: 180px;
    min-height: 60px;
    margin: 0px;
    padding: 0px;
}

.menu-principal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
    width: 100%;
    margin: 0px;
    background-color: #F7F7F7;
}

.menu-principal ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
}

.menu-principal ul li {
    display: inline-block;
    font-family: 'Atkinson Hyperlegible', Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: initial;
}

.menu-principal ul li a {
    color: #695AC8;
    text-decoration: none;
}

.menu-principal ul li a:hover {
    color: #32F5F5;
    text-decoration: none;
}

.menu-principal ul li a:active {
    color: #32F5F5;
    text-decoration: none;
}

.menu-principal-botones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

/* Botón Iniciar sesión */
.btn-iniciar-sesion {
    background-color: #695AC8;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s;
}

.btn-iniciar-sesion:hover {
    background-color: #32F5F5;
}

.btn-iniciar-sesion:focus {
    background-color: #12E3E3;
    color: #695AC8;
}

.btn-iniciar-sesion:active {
    background-color: #12E3E3;
    color: #695AC8;
}

/* Botón Registrarse */
.btn-registrarse {
    background-color: #32F5F5;
    color: #695AC8;
    text-decoration: none;
    transition: 0.3s;
}

.btn-registrarse:hover {
    background-color: #12E3E3;
    color: #FFFFFF;
}

.btn-registrarse:focus {
    background-color: #12E3E3;
    color: #FFFFFF;
}

.btn-registrarse:active {
    background-color: #12E3E3;
    color: #695AC8;
}

/* Buttons / Botones de Navegación */
button {
    border: none;
    border-radius: 15px;
    font-family: 'Atkinson Hyperlegible', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: initial;
}

/* Botón Footer Seleccionar Idioma */
.btn-idioma {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    background-color: transparent;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
    outline: none;
    padding: 5%;
    transition: all .5s ease;
}

.btn-idioma p {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 1.2em;
}

.btn-idioma:hover {
    color: #695AC8;
    background-color: #32F5F5;
}

/* Tamaños de botones */
.btn-s {
    border-radius: 15px;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 16px;
}

.btn-m {
    border-radius: 20px;
    padding: 10px 24px;
}

.btn-l {
    border-radius: 20px;
    padding: 10px 24px;
}

/* Textos */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Atkinson Hyperlegible';
    font-weight: 700;
}

h1 {
    color: #32F5F5;
    font-size: 80px;
}

h2 {
    color: #695AC8;
    font-size: 72px;
}

h3 {
    color: #32F5F5;
    font-size: 67px;
    line-height: normal;
    text-align: center;
}

h4 {
    color: #32F5F5;
    font-size: 64px;
    font-style: normal;
    line-height: 1.5em;
}

h5 {
    color: #32F5F5;
    font-size: 45px;
}

p {
    color: #FFFFFF;
    font-family: 'Mulish';
    font-size: 24px;
}

p-morado {
    color: #695AC8;
    font-family: 'Mulish';
    font-size: 24px;
}

/* Textos páginas moradas */
.white-txt {
    color: #FFFFFF;
}

.p-intro {
    font-family: 'Atkinson Hyperlegible', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 30px;
}

/* footer */
footer {
    background-color: #695AC8;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-evenly;
    padding: 4%;
}

.footer-contenedormenus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
}

footer nav ul {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

footer nav ul li {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    list-style: none;
    text-decoration: none;
}

.footerleft {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    gap: 64px;
    margin-right: 5%;
    padding-right: 5%;
}

.menufooter {
    flex-flow: column;
    text-align: left;
    margin: 0;
    padding: 0;
}

.menufooter-empresa {
    flex-flow: column;
    text-align: left;
    margin: 0;
    padding: 0;
}

.footerright {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 8px;
}

.rrss {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 16px;
}

.rrss img {
    width: 32px;
    max-width: 64px;
}

footer p {
    color: #FFFFFF;
    font-family: 'Mulish', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
}

/* -- Index -- */
/* ----------  Portada  ------------   */
.portada {
    position: relative;
}

.imagenHalloween {
    width: 100%;
}

.portada .portada-col-izq-txt {
    display: flex;
    flex-direction: column;
    left: 0px;
    padding: 5%;
}

.letrahalloween {
    position: absolute;
    left: 80px;
    top: 50px;
    max-width: fit-content;
}

.portada-col-izq-txt>p {
    position: absolute;
    left: 5%;
    top: 300px;
    color: #FFF;
    font-family: "Atkinson Hyperlegible";
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.portada-col-izq-txt>.btn-reservar {
    position: absolute;
    left: 80px;
    top: 500px;
    width: 250px;
    height: 70px;
    border-radius: 15px;
    color: #695AC8;
    background-color: #32F5F5;
    font-family: "Atkinson Hyperlegible";
    font-size: 35px;
    border: none;
    font-weight: 700;
}

.portada-col-izq-txt>.btn-reservar:hover {
    background-color: #F7F8F8;
    color: #695AC8;
}

/* ----------Filtro de experiencias------------   */

.subfilter {
    font-family: "Atkinson Hyperlegible";
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #695AC8;
    text-align: center;
}

.fondoMorado {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: #695AC8;
}

.contentwhite {
    padding: 40px 100px;
    gap: 24px;
    border-radius: 50px;
    background: #F7F7F7;
    width: 1100px;
    height: auto;
    position: relative;
    top: -60px
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    margin: 50px 0px;
}

.filter__item {
    list-style-type: none;
    font-family: "Atkinson Hyperlegible";
    font-size: 16px;
    font-style: italic;
    line-height: 10px;
    padding: 12px 40px;
    background-color: #695AC8;
    border-radius: 10px;
    color: #E9E9E9;
}

.filter__item:hover {
    cursor: pointer;
}

.filter__item:active {
    border-radius: 10px;
    background-color: #32F5F5;
    color: #695AC8;
}

.allimages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

.cont-image {
    width: 340px;
    height: 370px;
    background-color: #695AC8;
    border-radius: 30px;
    overflow: hidden;
    /* position: relative; */
}

.allimages img {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 208px;
    object-fit: cover;
    border-radius: 10px;
}

.titleimage {
    text-align: center;
    font-family: "Atkinson Hyperlegible";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #FFF;
    margin: 10px 0px 0px 0px;
    border-top: #FFF;
}

.subtitle {
    text-align: center;
    font-family: "Mulish";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 12px;

}

.contenttimeprice {
    background-color: #5a5194;
    font-size: 14px;
    text-align: center;
    color: #FFF;
    font-family: "Mulish";
    font-weight: 300;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.contenttimeprice>p {
    font-size: 12px;
    line-height: 1.2em;
}

hr {
    margin: 0px;
}

.cont-image .corazon {
    position: relative;
    width: 40px;
    height: 40px;
    left: 255px;
    top: 30px;
    margin: 0px;
}

.cargar {
    font-family: "Atkinson Hyperlegible";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: #695AC8;
}

/* -----------   Registro   ----------*/
.right-form>h2,
p {
    display: flex;
    justify-content: center;
    font-family: "Mulish";
}

.check>span {
    font-family: "Mulish";
    color: #979797;

    font-family: "Mulish";
    font-size: 14px;
}

.right-form>span {
    font-family: "Mulish";
}

.left-form {

    overflow: hidden;
    float: left;
    background-size: cover;
}

.right-form {
    width: 50%;
    height: 100%;
    margin: 0px;
    float: left;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.right-form form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.right-form h2 {
    color: #695AC8;
    font-family: "Atkinson Hyperlegible";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right-form form>input {
    width: 100%;
    padding: 13px 8px;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #E9E9E9;
    background: #F7F8F8;
    font-family: "Mulish";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.right-form form>label {
    width: 100%;
    font-family: "Atkinson Hyperlegible";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #695AC8;
    margin-top: 20px;
}

.check {
    width: 100%;
    margin: 20px 0px;
}

.right-form form>span {
    font-family: "Mulish";
    color: rgba(0, 0, 0, 0.44);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.right-form input[type=submit] {
    width: 100%;
    background-color: #32F5F5;
    font-family: "Atkinson Hyperlegible";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #695AC8;
    padding: 16px 10px;
}

/* --- Login ----*/
.loginfondo {
    background-color: #695AC8;
    max-width: 100%;
    height: 650px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.login-form>form {
    padding: 50px 100px;
    background-color: #FFF;
    width: 400px;
    border-radius: 20px;

}

.login-form form>h2 {
    display: flex;
    justify-content: center;
    color: #695AC8;
    font-family: "Atkinson Hyperlegible";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.login-form form>input {
    width: 100%;
    padding: 13px 0px 13px 7px;
    border-radius: 15px;
    border: 1px solid #E9E9E9;
    background: #F7F8F8;
    font-family: "Mulish";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.login-form form>label {
    width: 100%;
    font-family: "Atkinson Hyperlegible";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #695AC8;
    margin-top: 20px;

}

.login-form input[type=submit] {
    width: 100%;
    background-color: #32F5F5;
    font-family: "Atkinson Hyperlegible";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #695AC8;
    padding: 16px 10px;
}

.login-form form>span {
    color: #979797;
    text-align: center;
    font-family: "Mulish";
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.login-form form>.check {
    margin-top: 0px;
    display: flex;
    align-items: center;
}

/* ---Influencers ----*/

.influencers {
    width: 1300px;
    height: auto;
    margin: 0 auto;
    border-radius: 40px;
    background: #F7F8F8;
    margin-top: 10px;

    padding-top: 50px;
    padding-bottom: 50px;
}

.influencers>h3 {
    width: 1302px;
    color: #695AC8;
    text-align: center;
    font-family: "Atkinson Hyperlegible";
    font-size: 67px;
    font-style: normal;
    font-weight: 700;
    line-height: 2em;
}

.influencers .opiniones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.textoinfluencers {
    width: 601px;
    color: #695AC8;
    font-family: "Atkinson Hyperlegible";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
    display: block;
    margin-right: 2%;
}

.img-influencer-minielipse {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 90px;
    /* background: #F7F8F8 50%; */
    display: inline;
    margin-left: 0%
}

.tarjetas {
    margin-top: 70px;
    width: 380px;
    height: 697px;
    background: #695AC8;
    border-radius: 25px;
    display: flex;
    gap: 26px;
    justify-content: space-around;
    margin-bottom: 5%;
}


/* Página y Formulario de Contacto */
.contacto-main {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    gap: 20px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "contacto-encabezado contacto-encabezado contacto-encabezado contacto-encabezado"
      "area-contact-form area-contact-form area-contact-form area-contact-form"
      "area-contact-form area-contact-form area-contact-form area-contact-form";
    margin: 0;
    padding: 24px 10%;
  }

.contacto-encabezado {
    grid-area: contacto-encabezado;
    align-self: start;
    justify-self: center;
    margin:0;
}

.area-contact-form {
    grid-area: area-contact-form;
    align-self: start;
    justify-self: center;
    grid-template-rows: auto; 
    padding: 0;
    margin:0;
}

.contacto-main h1,
h2 {
    text-align: center;
}

.contacto-main h2 {
    color: #FFFFFF;
}

.contacto-main h5 {
    color: #32F5F5;
    font-size: 45px;
    margin-bottom: 16px;
}

.contacto-form-contenedor {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 141px 200px -80px rgba(25, 58, 75, 0.30);
    width: 72vw;
    height: auto;
    padding: 64px 64px;
    gap: 44px;
}

.contacto-main form {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    gap: 8px;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.contacto-main form fieldset {
    border: none;
    display: flex;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0em;
    padding-inline-start: 0em;
    padding-inline-end: 0em;
    padding-block-end: 0em;
    min-inline-size: min-content;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.contacto-main form label {
    color: #695AC8;
    font-family: 'Mulish';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2em; /* 171.429% */
    margin: 32px 0px 8px 0px;
    padding: 0;
}

/* .contacto-main form input {
    display: block;
    border-radius: 15px;
    border: 1px solid #E0E0E0;
    background: #F7F8F8;
    width: 88%;
    height: 40px;
} */

.contacto-main form input[type=text] {
    display: block;
    border-radius: 15px;
    border: 1px solid #E0E0E0;
    background: #F7F8F8;
    color: #695AC8;
    width: 88%;
    height: 40px;
    font-family: 'Mulish';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.14px;
    margin: 8px 0px 24px 0px;
    padding: 8px 16px;
}

.contacto-main form input[type=checkbox], input[type=radio]  {
    border-radius: 15px;
    border: 1px solid #E0E0E0;
    background: #F7F8F8;
    width: 32px;
    height: 32px;
    margin: 8px 16px;
    padding: 8px 8px;
}

.contacto-main form select {
    display: block;
    border-radius: 15px;
    border: 1px solid #E0E0E0;
    background: #F7F8F8;
    color: #695AC8;
    font-family: 'Mulish';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2em; /* 171.429% */
    width: 92%;
    height: auto;
    margin: 12px 0px;
    padding: 16px 24px;
}

.contacto-main form option {
    border-radius: 15px;
    border: 1px solid #E0E0E0;
    background: #F7F8F8;
    color: #695AC8;
    font-family: 'Mulish';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2em; /* 171.429% */
    width: 100%;
    height: 40px;
    margin: 40px 0px;
    padding: 16px 24px;
}

.radio-probado {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin-bottom: 24px;
}

.radio-yn {
    display: flex;
    padding: 0px;
    margin: 0px 24px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.contacto-main form .btn-enviar {
    background-color: #695AC8;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    margin: 24px 16px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    width: 60%;
    transition: 0.3s;
}

.contacto-main form .btn-enviar:hover[type=button] {
    background-color: #32F5F5;
    color: #695AC8;
}

.contacto-main form .btn-enviar:focus {
    background-color: #12E3E3;
    color: #695AC8;
}

.contacto-main form textarea {
    display: block;
    overflow: auto;
    border-radius: 15px;
    border: 1px solid #E0E0E0;
    background: #F7F8F8;
    color: #695AC8;
    font-family: 'Mulish';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.14px;
    width: 88%;
    min-height: 400px;
    margin: 24px 0px;
    padding: 16px 24px;
}

.contacto-main form textarea:focus {
    border: 1px solid #32F5F5;
}

.asterisco {
    color: #EB5757;
    font-family: 'Mulish';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.14px;
}

.alert-success {
    display: block;
    color: #32F5F5;
    font-family: 'Mulish';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.14px;
}

#success_message {
    display: none;
  }
  

.contacto-datos {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 54px;
}

.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.datos p {
    color: #695AC8;
    font-family: 'Mulish';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.datos .p-tel::before {
    content: url(img/ic-tel.svg);
}

.datos .p-email::before {
    content: url(img/ic-email.svg);
}