/* -- CSS General -- */
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #695AC8;
    margin: 0px auto;
    padding: 0px;
}

@font-face {
    font-family: 'Mulish';
    src: url(01_MindPlay\fonts\Mulish\static\Mulish-Regular.ttf) format(opentype);
    font-weight: 200 1000;
}

/* ----------- Menú - nav ------------- */

.logo {
    max-width: 180px;
}
.menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 130px;
    align-items: center;
    gap: 32px;
    font-weight: 600;
    line-height: 20px;
    background-color: #F7F7F7;
}

nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 50px;
}

li a {
    text-decoration: none;
    padding: 8px;
    font-family: 'Atkinson Hyperlegible';
    font-size: 20px;
    font-style: normal;
    line-height: 20px;
    color: #695AC8;
    padding-left: 10px;
    padding-right: 10px;
}

li a:hover {
    border-radius: 15px;
    background: #695AC8;
    color: #FFF;
}

li a:focus {
    border-radius: 15px;
    background: #32F5F5;
}

li a:active {
    background: #695AC8;
    color: #32F5F5;
    text-decoration: none;
}

/* Iniciar sesión */
.btn-iniciar-sesion {
    background-color: #695AC8;
    color: #FFFFFF;
    transition: 0.3s;
}
.btn-iniciar-sesion:hover {
    background-color: #32F5F5;
}
.btn-iniciar-sesion:focus {
    background-color: #12E3E3;
    color: #695AC8;
}
.btn-iniciar-sesion:active {
    background-color: #12E3E3;
    color: #695AC8;
}

/* Registrarse */
.btn-registrarse {
    background-color: #32F5F5;
    color: #695AC8;
    transition: 0.3s;
}
.btn-registrarse:hover {
    background-color: #12E3E3;
    color: #FFFFFF;
}
.btn-registrarse:focus {
    background-color: #12E3E3;
    color: #FFFFFF;
}
.btn-registrarse:active {
    background-color: #12E3E3;
    color: #695AC8;
}

/* Buttons / Botones de Navegación */
header .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

button {
    border: none;
    border-radius: 15px;
    font-weight: 700;
    text-align: center;
}

.button-txt {
    text-align: center;
    font-family: 'Atkinson Hyperlegible', Helvetica, sans-serif;
    font-style: normal;
    text-transform: initial;
}

/* Tamaños de botones */
.btn-s {
    border-radius: 15px;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 16px;
}

.btn-m {
    border-radius: 20px;
    padding: 10px 24px;
}

.btn-l {
    border-radius: 20px;
    padding: 10px 24px;
}

/* Textos */
h1, h2, h3, h4, h5 {
    font-family: 'Atkinson Hyperlegible';
    font-weight: 700;
}

h1 {
    color: #32F5F5;
    font-size: 80px;
    line-height: 1.8em;
}

h2 {
    color: #695AC8;
    font-size: 72px;
    line-height: 1.7em;
}

h3 {
    color: #32F5F5;
    font-size: 67px;
    line-height: 1.6em;
    text-align: center;
}

h4 {
    color: #32F5F5;
    font-size: 64px;
    font-style: normal;
    line-height: 1.5em;
}

h5 {
    color: #32F5F5;
    font-size: 45px;
    line-height: 1.5em;
}

p {
    color: #FFFFFF;
    font-family: 'Mulish';
    font-size: 24px;
    line-height: 1.5em;
}

/* Textos páginas moradas */
.white-txt {
    color:#FFFFFF;
}

.p-seleccion {
    color: #FFFFFF;
    font-family: 'Atkinson Hyperlegible';
    font-size: 40px;
    font-style: normal;
    line-height: 1.5em;
    text-align: center;
}

/* footer */
.footercontent {
    display: flex;
    background-color: #695AC8;
    color: #FFF;
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    padding: 100px;
    align-items: center;
    position: relative;
}

.footerleft>p {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding-right: 80px;
}

.footerright {
    display: inline-block;
    position: absolute;
    left: 1100px;
}

.footerright>img {
    padding: 10px;
}

/* Página Indicaciones */
#main-indicaciones {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 0px;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'indicaciones-intro-img indicaciones-intro-txt indicaciones-intro-txt indicaciones-intro-txt'
        'indicaciones-carrusel-headsets indicaciones-carrusel-headsets indicaciones-carrusel-headsets indicaciones-carrusel-headsets'
        'indicaciones-carrusel-inmersion indicaciones-carrusel-inmersion indicaciones-carrusel-inmersion indicaciones-carrusel-inmersion'
        'indicaciones-col-izq-txt indicaciones-col-izq-txt indicaciones-col-der-img indicaciones-col-der-img';
    grid-column-gap: 20px;
    grid-row-gap: 60px;
}

/* indicaciones-intro-img = #item-0 */
#indicaciones-intro-img {
    grid-area: indicaciones-intro-img;
    align-self: center;
    justify-self: start;
    min-height: fit-content;
    margin: 0px;
    padding: 0px;
}

/* indicaciones-carrusel-inmersion = #item-1 */
#indicaciones-carrusel-inmersion {
    grid-area: indicaciones-carrusel-inmersion;
    align-self: start;
    justify-self: stretch;
    min-height: fit-content;
    margin: 0px;
    padding: 0px;
}

/* indicaciones-intro-txt = #item-2 */
#indicaciones-intro-txt {
    grid-area: indicaciones-intro-txt;
    align-self: start;
    justify-self: stretch;
    min-height: fit-content;
    margin: 0px;
    padding: 0px;
}

/* indicaciones-col-izq-txt = #item-3 */
#indicaciones-col-izq-txt {
    grid-area: indicaciones-col-izq-txt;
    align-self: start;
    justify-self: stretch;
    min-height: fit-content;
    margin: 0px;
    padding: 0px;
}

/* indicaciones-col-der-img = #item-4 */
#indicaciones-col-der-img {
    grid-area: indicaciones-col-der-img;
    align-self: start;
    justify-self: stretch;
    min-height: fit-content;
    margin: 0px;
    padding: 0px;
}

/* indicaciones-carrusel-headsets = #item-5 */
#indicaciones-carrusel-headsets {
    grid-area: indicaciones-carrusel-headsets;
    align-self:start;
    justify-self: stretch;
    min-height: fit-content;
    margin: 0px;
    padding: 0px;
}

.intro-img {
    min-width: 200px;
    max-width: 379px;
    position: relative;
    left: -70px;
}

.calltoaction-catalogo {
    background: linear-gradient(90deg, rgba(50,245,245,0) 15%, rgba(50,245,245,1) 65%, rgba(50,245,245,0) 100%);
    display: flex;
    align-content:normal;
    align-self: center;
    justify-content:space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-intro {
    font-family: 'Atkinson Hyperlegible', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.4em;
    padding-bottom:20px;
    margin-bottom:10px;
}

.highlight {
    color:#FFFFFF;
    font-family: 'Atkinson Hyperlegible';
    font-size: 35px;
    line-height:1.2em;
    text-align: center;
}

/* Carrusel flechas */
.flecha-izq {
    width: 31px;
    height: 31px;
    max-width: 31px;
    max-height: 31px;
}

.flecha-izq:hover {
    color: #32F5F5;
    width: 31px;
    height: 31px;
    max-width: 31px;
    max-height: 31px;
}

.flecha-der {
    width: 31px;
    height: 31px;
    max-width: 31px;
    max-height: 31px;
}

.flecha-der:hover {
    color: #32F5F5;
    width: 31px;
    height: 31px;
    max-width: 31px;
    max-height: 31px;
}

/* Carrusel headsets */
#indicaciones-carrusel-headsets h3 {
    color: #32F5F5;
    font-family: 'Atkinson Hyperlegible';
    font-size: 67px;
    font-style: normal;
    line-height: 1.5em;
    text-align: center;
}

#indicaciones-carrusel-headsets .carrusel-headsets {
    background: linear-gradient(90deg, rgba(50,245,245,0) 0%, rgba(50,245,245,.6) 50%, rgba(50,245,245,0) 100%);
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 66px;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: 0px;
    margin-top: 40px;
    margin-left: 0px;
    padding: 70px;
}

#indicaciones-carrusel-headsets .img-carrusel-headsets {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 66px;
    justify-content: center;
}

#indicaciones-carrusel-headsets .img-headset {
    max-width: 120px;
}

/* Carrusel inmersión */
#indicaciones-carrusel-inmersion h3 {
    color: #32F5F5;
    font-family: 'Atkinson Hyperlegible';
    font-size: 67px;
    font-style: normal;
    line-height: 1.5em;
    text-align: center;
}

#indicaciones-carrusel-inmersion .carrusel-inmersion {
    background: linear-gradient(90deg, rgba(50,245,245,0) 0%, rgba(50,245,245,.6) 50%, rgba(50,245,245,0) 100%);
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 66px;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: 0px;
    margin-top: 40px;
    margin-left: 0px;
    padding: 70px;
}

#indicaciones-carrusel-inmersion .img-carrusel-inmersion {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 66px;
    justify-content: center;
}

#indicaciones-carrusel-inmersion .img-inmersion {
    max-width: 120px;
}

/* Textos abajo */
#indicaciones-col-izq-txt p {
    font-family: 'Mulish';
    font-size: 24px;
    line-height: 1.6em;
}

.jugadoresprecio {
    color: #FFFFFF;
    font-family: 'Mulish';
    font-size: 24px;
    line-height: 1.6em;
}

.jugadoresprecio::before {
    content: '';
    background: url('img/jugadoresprecio.png') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 38px;
    height: auto;
}

/* Columna imagen abajo */
#indicaciones-col-der-img .img-abajo {
    min-width: 200px;
    max-width: 700px;
}
