/* NavBar / Navegaci칩n */
header {
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
    min-width: 990px;
    height: 160px;
    padding: 0px;
    justify-content: center;
    left: 0;

    position: fixed;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.logo {
    display: flex;
    width: 274px;
    height: 60px;
    padding: 0px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li {
    color: #695AC8;
    display: inline-block;
    font-family: 'Atkinson Hyperlegible';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

/* Buttons / Botones de Navegaci칩n */
.nav-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

button {
    border: none;
    font-weight: 700;
    text-align: center;
}

.button-txt {
    text-align: center;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    text-transform: initial;
}

/* Tama침os de botones */
.btn-s {
    border-radius: 15px;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 16px;
}

.btn-m {
    border-radius: 20px;
    padding: 10px 24px;
}

.btn-l {
    border-radius: 20px;
    padding: 10px 24px;
}

/* Iniciar sesi칩n */
.btn-principal {
    background-color: #695AC8;
    color: #FFFFFF;
}

/* Registrarse */
.btn-secundario {
    background-color: #32F5F5;
    color: #695AC8;
}