body {
    background-color: #695AC8;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
}

/* NavBar / Navegación */
header {
    background-color: #F7F7F7;
    max-width: 100%;
    height: 160px;
}

nav {
    display: flex;
    padding: 32px 140px;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.logo {
    display: flex;
    width: 274px;
    height: auto;
    min-height: 100px;
    padding: 3px 1px 3px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

ul li {
    color: #695AC8;
    text-align: center;
    display: inline-block;
    font-family: 'Atkinson Hyperlegible';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 100% */
    text-transform: capitalize;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

/* Button / Botón */
button {
    font-family: 'Atkinson Hyperlegible';
}

.btn-s {
    border-radius: 15px;
}

.btn-m {
    border-radius: 20px;
}

.btn-principal {
    background: #695AC8;
    border-radius: 15px;
    color: #FFFFFF;
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Bloque 1 Experiencia Destacada - Diana */
.xpdestacada {

}

/* Bloque 2 Catálogo filtrado por categorías ... Annie */


/* Bloque 3 Influencers... Asier */
.influencers {
    width: 1300px;
    height: 1134px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #F7F8F8;
}
h3 {
    width: 1302px;
    color: var(--VioletaPrincipal, #695AC8);
    text-align: center;
    font-family: Atkinson Hyperlegible;
    font-size: 67px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.influencers {
    width: 601px;
    color: var(--VioletaPrincipal, #695AC8);
    font-family: Atkinson Hyperlegible;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 50px */
}
